*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
    background-color: #1c1c1c;
    color: #d2cbcb;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 18px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(0, 0, 0,0.3);
}

.display {
    background-color: #242121;
    border-radius: 5px;
    padding: 7px;
    text-align: right;
    margin-bottom: 15px;
    overflow: hidden;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
    
}

.btn {
    cursor: pointer;
    background-color: #333;
    border-radius: 23px;
    padding: 5px;
    transition: 0.4s;
}
.btn-zero {
    grid-column: span 2;
    width: 100%;
    
}
.btn-fn {
    background-color: #a5a5a5;
}
.btn-op {
    background-color: #ff9f0a;
}
.btn:hover{
    filter: brightness(1.2);
}
