body {
    margin: 0;
    align-items: center;

}
header {
    background-color: rgba(20, 20, 20, 0.973);
    width: 100%;
    padding: 2px 8px 12px;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(230, 227, 227);
}
a {
    color: rgb(230, 227, 227);
    text-decoration: none;
    margin: 10px;
    font-style: normal;
    font-size: 12px;
}
header p {
    font-style: normal;
    font-size: 12px;
}
section {
    background-color: #EEE;
    width: 100%;
    margin: 0;
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

section div h1 {
    margin: 0;
    font-size: 22px;
    margin-bottom: 30px;
}
.abt-me {
    width: 544px;
    margin: auto;
    font-size: 12px ;
    margin-bottom: 60px;
}
.prj{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.prjs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    

}
.project {
    background-color: #fffcfc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.297);
    /* align-items: center; */
}
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
input ,
textarea {
    width: 40%;
    margin: auto;
    margin-bottom: 8px;
    border-radius: 4px;
    border: none;
    padding: 4px;
}
.submit {
    background-color: rgba(20, 20, 20, 0.973);
    color: rgb(230, 227, 227);
    cursor: pointer;
}

footer {
    background-color: rgba(20, 20, 20, 0.973);
    color: rgb(230, 227, 227);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
    width: 100%;
    padding: 1px;
    text-align: center;
}
